build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Galaxy-Launcher.exe
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-17f8c93160b22160ca0e.json
build/.cmake/api/v1/reply/cmakeFiles-v1-ab9e7e4abb416fe5524a.json
build/.cmake/api/v1/reply/codemodel-v2-b1f16e853216c79cf9ad.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2024-02-08T11-06-06-0912.json
build/.cmake/api/v1/reply/target-Galaxy-Launcher-Debug-8f045c71091cc43c4440.json
build/.cmake/api/v1/reply/toolchains-v1-5ff1467d7a76722bfc26.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.28.3/CMakeCCompiler.cmake
build/CMakeFiles/3.28.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.28.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.28.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.28.3/CMakeRCCompiler.cmake
build/CMakeFiles/3.28.3/CMakeSystem.cmake
build/CMakeFiles/3.28.3/CompilerIdC/a.exe
build/CMakeFiles/3.28.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.28.3/CompilerIdCXX/a.exe
build/CMakeFiles/3.28.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/Galaxy-Launcher.dir/build.make
build/CMakeFiles/Galaxy-Launcher.dir/cmake_clean.cmake
build/CMakeFiles/Galaxy-Launcher.dir/compiler_depend.internal
build/CMakeFiles/Galaxy-Launcher.dir/compiler_depend.make
build/CMakeFiles/Galaxy-Launcher.dir/compiler_depend.ts
build/CMakeFiles/Galaxy-Launcher.dir/depend.make
build/CMakeFiles/Galaxy-Launcher.dir/DependInfo.cmake
build/CMakeFiles/Galaxy-Launcher.dir/flags.make
build/CMakeFiles/Galaxy-Launcher.dir/link.txt
build/CMakeFiles/Galaxy-Launcher.dir/linkLibs.rsp
build/CMakeFiles/Galaxy-Launcher.dir/objects.a
build/CMakeFiles/Galaxy-Launcher.dir/objects1.rsp
build/CMakeFiles/Galaxy-Launcher.dir/progress.make
build/CMakeFiles/Galaxy-Launcher.dir/src/main.cpp.obj
build/CMakeFiles/Galaxy-Launcher.dir/src/main.cpp.obj.d
build/.cmake/api/v1/reply/cache-v2-a5bf6d56ed024c2e0a4f.json
build/.cmake/api/v1/reply/cmakeFiles-v1-592141535302169d4acc.json
build/.cmake/api/v1/reply/codemodel-v2-bf16eb39ff912b1e0d1d.json
build/.cmake/api/v1/reply/directory-external.add-Debug-c619fb01b8633a1c0065.json
build/.cmake/api/v1/reply/directory-glfw_binary-Debug-aaec46a25f543de972f0.json
build/.cmake/api/v1/reply/directory-glfw_binary.src-Debug-2d3d05b8da829871e530.json
build/.cmake/api/v1/reply/directory-src-Debug-c94b7c2814d5a21df52c.json
build/.cmake/api/v1/reply/index-2024-02-12T07-09-18-0950.json
build/.cmake/api/v1/reply/target-ExternalAdd-Debug-1e7f6551221fcc2da944.json
build/.cmake/api/v1/reply/target-Galaxy-Launcher-Debug-f4dc8a24f860a75412c0.json
build/.cmake/api/v1/reply/target-glfw-Debug-74a738693199caf3bedd.json
build/.cmake/api/v1/reply/target-update_mappings-Debug-171be6ec14d0de27d9d0.json
build/.cmake/api/v1/reply/toolchains-v1-9fa30859bceccfef96db.json
build/CMakeFiles/CMakeRuleHashes.txt
build/external/add/cmake_install.cmake
build/external/add/libExternalAdd.a
build/external/add/Makefile
build/external/add/CMakeFiles/CMakeDirectoryInformation.cmake
build/external/add/CMakeFiles/progress.marks
build/external/add/CMakeFiles/ExternalAdd.dir/build.make
build/external/add/CMakeFiles/ExternalAdd.dir/cmake_clean_target.cmake
build/external/add/CMakeFiles/ExternalAdd.dir/cmake_clean.cmake
build/external/add/CMakeFiles/ExternalAdd.dir/compiler_depend.internal
build/external/add/CMakeFiles/ExternalAdd.dir/compiler_depend.make
build/external/add/CMakeFiles/ExternalAdd.dir/compiler_depend.ts
build/external/add/CMakeFiles/ExternalAdd.dir/depend.make
build/external/add/CMakeFiles/ExternalAdd.dir/DependInfo.cmake
build/external/add/CMakeFiles/ExternalAdd.dir/ExternalAdd.cpp.obj
build/external/add/CMakeFiles/ExternalAdd.dir/ExternalAdd.cpp.obj.d
build/external/add/CMakeFiles/ExternalAdd.dir/flags.make
build/external/add/CMakeFiles/ExternalAdd.dir/link.txt
build/external/add/CMakeFiles/ExternalAdd.dir/progress.make
build/glfw_binary/cmake_install.cmake
build/glfw_binary/Makefile
build/glfw_binary/CMakeFiles/CMakeDirectoryInformation.cmake
build/glfw_binary/CMakeFiles/progress.marks
build/glfw_binary/src/cmake_install.cmake
build/glfw_binary/src/glfw3.pc
build/glfw_binary/src/glfw3Config.cmake
build/glfw_binary/src/glfw3ConfigVersion.cmake
build/glfw_binary/src/libglfw3.a
build/glfw_binary/src/Makefile
build/glfw_binary/src/CMakeFiles/CMakeDirectoryInformation.cmake
build/glfw_binary/src/CMakeFiles/progress.marks
build/glfw_binary/src/CMakeFiles/glfw.dir/build.make
build/glfw_binary/src/CMakeFiles/glfw.dir/cmake_clean_target.cmake
build/glfw_binary/src/CMakeFiles/glfw.dir/cmake_clean.cmake
build/glfw_binary/src/CMakeFiles/glfw.dir/compiler_depend.make
build/glfw_binary/src/CMakeFiles/glfw.dir/compiler_depend.ts
build/glfw_binary/src/CMakeFiles/glfw.dir/context.c.obj
build/glfw_binary/src/CMakeFiles/glfw.dir/context.c.obj.d
build/glfw_binary/src/CMakeFiles/glfw.dir/depend.make
build/glfw_binary/src/CMakeFiles/glfw.dir/DependInfo.cmake
build/glfw_binary/src/CMakeFiles/glfw.dir/egl_context.c.obj
build/glfw_binary/src/CMakeFiles/glfw.dir/egl_context.c.obj.d
build/glfw_binary/src/CMakeFiles/glfw.dir/flags.make
build/glfw_binary/src/CMakeFiles/glfw.dir/includes_C.rsp
build/glfw_binary/src/CMakeFiles/glfw.dir/init.c.obj
build/glfw_binary/src/CMakeFiles/glfw.dir/init.c.obj.d
build/glfw_binary/src/CMakeFiles/glfw.dir/input.c.obj
build/glfw_binary/src/CMakeFiles/glfw.dir/input.c.obj.d
build/glfw_binary/src/CMakeFiles/glfw.dir/link.txt
build/glfw_binary/src/CMakeFiles/glfw.dir/monitor.c.obj
build/glfw_binary/src/CMakeFiles/glfw.dir/monitor.c.obj.d
build/glfw_binary/src/CMakeFiles/glfw.dir/null_init.c.obj
build/glfw_binary/src/CMakeFiles/glfw.dir/null_init.c.obj.d
build/glfw_binary/src/CMakeFiles/glfw.dir/null_joystick.c.obj
build/glfw_binary/src/CMakeFiles/glfw.dir/null_joystick.c.obj.d
build/glfw_binary/src/CMakeFiles/glfw.dir/null_monitor.c.obj
build/glfw_binary/src/CMakeFiles/glfw.dir/null_monitor.c.obj.d
build/glfw_binary/src/CMakeFiles/glfw.dir/null_window.c.obj
build/glfw_binary/src/CMakeFiles/glfw.dir/null_window.c.obj.d
build/glfw_binary/src/CMakeFiles/glfw.dir/osmesa_context.c.obj
build/glfw_binary/src/CMakeFiles/glfw.dir/osmesa_context.c.obj.d
build/glfw_binary/src/CMakeFiles/glfw.dir/platform.c.obj
build/glfw_binary/src/CMakeFiles/glfw.dir/platform.c.obj.d
build/glfw_binary/src/CMakeFiles/glfw.dir/progress.make
build/glfw_binary/src/CMakeFiles/glfw.dir/vulkan.c.obj
build/glfw_binary/src/CMakeFiles/glfw.dir/vulkan.c.obj.d
build/glfw_binary/src/CMakeFiles/glfw.dir/wgl_context.c.obj
build/glfw_binary/src/CMakeFiles/glfw.dir/wgl_context.c.obj.d
build/glfw_binary/src/CMakeFiles/glfw.dir/win32_init.c.obj
build/glfw_binary/src/CMakeFiles/glfw.dir/win32_init.c.obj.d
build/glfw_binary/src/CMakeFiles/glfw.dir/win32_joystick.c.obj
build/glfw_binary/src/CMakeFiles/glfw.dir/win32_joystick.c.obj.d
build/glfw_binary/src/CMakeFiles/glfw.dir/win32_module.c.obj
build/glfw_binary/src/CMakeFiles/glfw.dir/win32_module.c.obj.d
build/glfw_binary/src/CMakeFiles/glfw.dir/win32_monitor.c.obj
build/glfw_binary/src/CMakeFiles/glfw.dir/win32_monitor.c.obj.d
build/glfw_binary/src/CMakeFiles/glfw.dir/win32_thread.c.obj
build/glfw_binary/src/CMakeFiles/glfw.dir/win32_thread.c.obj.d
build/glfw_binary/src/CMakeFiles/glfw.dir/win32_time.c.obj
build/glfw_binary/src/CMakeFiles/glfw.dir/win32_time.c.obj.d
build/glfw_binary/src/CMakeFiles/glfw.dir/win32_window.c.obj
build/glfw_binary/src/CMakeFiles/glfw.dir/win32_window.c.obj.d
build/glfw_binary/src/CMakeFiles/glfw.dir/window.c.obj
build/glfw_binary/src/CMakeFiles/glfw.dir/window.c.obj.d
build/glfw_binary/src/CMakeFiles/update_mappings.dir/build.make
build/glfw_binary/src/CMakeFiles/update_mappings.dir/cmake_clean.cmake
build/glfw_binary/src/CMakeFiles/update_mappings.dir/compiler_depend.make
build/glfw_binary/src/CMakeFiles/update_mappings.dir/compiler_depend.ts
build/glfw_binary/src/CMakeFiles/update_mappings.dir/DependInfo.cmake
build/glfw_binary/src/CMakeFiles/update_mappings.dir/progress.make
build/src/cmake_install.cmake
build/src/Galaxy-Launcher.exe
build/src/Makefile
build/src/CMakeFiles/CMakeDirectoryInformation.cmake
build/src/CMakeFiles/progress.marks
build/src/CMakeFiles/Galaxy-Launcher.dir/build.make
build/src/CMakeFiles/Galaxy-Launcher.dir/cmake_clean.cmake
build/src/CMakeFiles/Galaxy-Launcher.dir/compiler_depend.internal
build/src/CMakeFiles/Galaxy-Launcher.dir/compiler_depend.make
build/src/CMakeFiles/Galaxy-Launcher.dir/compiler_depend.ts
build/src/CMakeFiles/Galaxy-Launcher.dir/depend.make
build/src/CMakeFiles/Galaxy-Launcher.dir/DependInfo.cmake
build/src/CMakeFiles/Galaxy-Launcher.dir/flags.make
build/src/CMakeFiles/Galaxy-Launcher.dir/includes_CXX.rsp
build/src/CMakeFiles/Galaxy-Launcher.dir/link.txt
build/src/CMakeFiles/Galaxy-Launcher.dir/linkLibs.rsp
build/src/CMakeFiles/Galaxy-Launcher.dir/main.cpp.obj
build/src/CMakeFiles/Galaxy-Launcher.dir/main.cpp.obj.d
build/src/CMakeFiles/Galaxy-Launcher.dir/objects.a
build/src/CMakeFiles/Galaxy-Launcher.dir/objects1.rsp
build/src/CMakeFiles/Galaxy-Launcher.dir/progress.make
build/src/CMakeFiles/Galaxy-Launcher.dir/__/external/imgui/imgui_demo.cpp.obj
build/src/CMakeFiles/Galaxy-Launcher.dir/__/external/imgui/imgui_demo.cpp.obj.d
build/src/CMakeFiles/Galaxy-Launcher.dir/__/external/imgui/imgui_draw.cpp.obj
build/src/CMakeFiles/Galaxy-Launcher.dir/__/external/imgui/imgui_draw.cpp.obj.d
build/src/CMakeFiles/Galaxy-Launcher.dir/__/external/imgui/imgui_tables.cpp.obj
build/src/CMakeFiles/Galaxy-Launcher.dir/__/external/imgui/imgui_tables.cpp.obj.d
build/src/CMakeFiles/Galaxy-Launcher.dir/__/external/imgui/imgui_widgets.cpp.obj
build/src/CMakeFiles/Galaxy-Launcher.dir/__/external/imgui/imgui_widgets.cpp.obj.d
build/src/CMakeFiles/Galaxy-Launcher.dir/__/external/imgui/imgui.cpp.obj
build/src/CMakeFiles/Galaxy-Launcher.dir/__/external/imgui/imgui.cpp.obj.d
build/src/CMakeFiles/Galaxy-Launcher.dir/__/external/imgui/backends/imgui_impl_glfw.cpp.obj
build/src/CMakeFiles/Galaxy-Launcher.dir/__/external/imgui/backends/imgui_impl_glfw.cpp.obj.d
build/src/CMakeFiles/Galaxy-Launcher.dir/__/external/imgui/backends/imgui_impl_vulkan.cpp.obj
build/src/CMakeFiles/Galaxy-Launcher.dir/__/external/imgui/backends/imgui_impl_vulkan.cpp.obj.d
